@{
    ViewBag.Title = "Home Page";
}
@model AllocationCalculator.Models.HomeModel

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <label>Year</label>
                @Html.TextBoxFor(x => x.Year, null, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <h4>Basic Allocation</h4>
            <div class="form-group">
                <label>sheet a</label>
                <input type="file" id="FileUpload1" name="FileUpload1" class="form-control" />
            </div>
            <div class="form-group">
                <label>sheet c</label>
                <input type="file" id="FileUpload4" name="FileUpload4" class="form-control" />
            </div>
            <div class="form-group">
                <label>sheet e</label>
                <input type="file" id="FileUpload2" name="FileUpload2" class="form-control" />
            </div>
            <div class="form-group">
                <label>sheet h</label>
                <input type="file" id="FileUpload3" name="FileUpload3" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <h4>CONC Allocation</h4>
            <div class="form-group">
                <label>sheet i</label>
                <input type="file" id="FileUpload5" name="FileUpload5" class="form-control" />
            </div>
            <div class="form-group">
                <label>sheet j</label>
                <input type="file" id="FileUpload6" name="FileUpload6" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    if (!string.IsNullOrEmpty(ViewBag.AlertMessage))
    {
        <p>@ViewBag.AlertMessage &nbsp; <a href="@Url.Action("ExportData","Home")">click here</a></p>
    }
}